.bg {
  background-image: url(/assets/image/discount/discount-m-x1.jpg);
  @media screen and (min-resolution: 2dppx) {
    background-image: url(/assets/image/discount/discount-m-x2.jpg);
  }

  @media screen and (min-width: 590px) {
    background-image: url(/assets/image/discount/discount-t-x1.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/image/discount/discount-t-x2.jpg);
    }
  }

  @media screen and (min-width: 1025px) {
    background-image: url(/assets/image/discount/discount-d-x1.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/image/discount/discount-d-x2.jpg);
    }
  }
}
