.bg {
  background-image: url(/assets/image/calculator/calculator-m-x1.jpg);
  @media screen and (min-resolution: 2dppx) {
    background-image: url(/assets/image/calculator/calculator-m-x2.jpg);
  }

  @media screen and (min-width: 590px) {
    background-image: url(/assets/image/calculator/calculator-t-x1.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/image/calculator/calculator-t-x2.jpg);
    }
  }

  @media screen and (min-width: 1025px) {
    background-image: url(/assets/image/calculator/calculator-d-x1.jpg);
    @media screen and (min-resolution: 2dppx) {
      background-image: url(/assets/image/calculator/calculator-d-x2.jpg);
    }
  }
}
