@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap); */

html,
body {

  @apply font-montserrat font-normal text-base leading-[1.5] text-black-50 bg-mainBg scroll-smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* advantage section styles */
.container {

  @apply mx-auto my-0 px-[16px] t:px-[32px] d:px-[120px] min-w-[280px] max-w-[590px] t:min-w-[591px] t:max-w-[1024px] d:min-w-[1025px] d:max-w-[1440px];
}

/*  */
.sectionTitle {
  @apply text-center d:mb-[40px] d:text-[40px] font-semibold;
}

.advantage-item {
  @apply flex d:gap-[16px] d:w-[384px] d:h-[160px] d:pt-[40px] d:pl-[28px] bg-white-50;
}

/* price section styles */

.slider-item {
  @apply  !flex flex-col justify-between items-center pt-[30px] px-[24px] pb-[40px] border-[1px] border-grey-50 rounded-[5px] h-[inherit];
}

.prices-list-item {
  @apply relative text-base before:absolute before:content-check before:-left-8 before:top-[2px] before:text-accent-50 before:font-semibold;
}

.greenLink {
  @apply rounded-bl-3xl rounded-tr-3xl border-[1px] border-accent-50 text-accent-50  hover:bg-accent-50  hover:text-white-50 
   text-center font-semibold whitespace-nowrap hover:shadow-lg transition
}

/* w-full t:w-fit px-[23px] py-[21px] t:py-[15px] */

.icon {
  @apply w-8 h-8 fill-black-50 hover:fill-accent-50 hover:shadow-lg transition;
}
.slider-price .slick-slide {height: unset;}
.slider-price .slick-slide > div {height: 100%; margin: 0 5%;}
.slider-price .slick-track { display: flex;}
.slider-price .slick-list { margin-bottom: 48px; }
.slider-price .slick-dots {position: unset; }
.slider-price .slick-dots button::before{content: none; }
.slider-price .slick-dots button{width: 18px; height:18px; border: 1px solid  #26262B4D; border-radius: 10px;}
.slider-price .slick-dots .slick-active button{background-color: #46BB59; border-color: #46BB59;}
.slider-price .slick-dots button:hover{background-color: #46BB59;}