@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap); */

html,
body {
  @apply font-montserrat font-normal text-base leading-[1.5] text-black-100 bg-mainBg scroll-smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* advantage section styles */
.container {
  @apply mx-auto my-0 px-[16px] t:px-[32px] d:px-[120px] min-w-[320px] max-w-[590px] t:min-w-[591px] t:max-w-[1024px] d:min-w-[1025px] d:max-w-[1440px];
}

/*  */
.sectionTitle {
  @apply text-center font-roboto text-[40px] font-semibold mb-10;
}

/* price section styles */

.slider-item {
  @apply !flex flex-col justify-between items-center pt-[30px] px-[24px] pb-[40px] border-[1px] border-black-30 rounded-[5px] h-[inherit];
}

.prices-list-item {
  @apply relative before:absolute before:content-check before:-left-8 before:top-[2px] before:text-accent-100 before:font-semibold;
}

.greenLink {
  @apply rounded-bl-3xl rounded-tr-3xl border-[1px] border-accent-100   bg-accent-100 text-white-100 hover:text-accent-100 hover:bg-mainBg 
   text-center font-semibold whitespace-nowrap active:shadow-lg transition;
}

.whiteLink {
  @apply rounded-bl-3xl rounded-tr-3xl border-[1px] border-accent-100  hover:bg-accent-100 hover:text-white-100 text-accent-100 bg-mainBg 
   text-center font-semibold whitespace-nowrap active:shadow-lg transition;
}

.icon {
  @apply w-8 h-8 fill-black-100 hover:fill-accent-100 active:shadow-lg transition;
}

.slider-price .slick-slide {
  height: unset;
}
.slider-price .slick-slide > div {
  @apply h-full mx-[6%];
}
.slider-price .slick-track {
  display: flex;
}
.slider-price .slick-list {
  @apply mb-12 mx-[-6%] t:mx-[-3%] d:mx-[-2%];
}
.slider-price .slick-dots {
  position: unset;
}
.slider-price .slick-dots button::before {
  content: none;
}
.slider-price .slick-dots button {
  @apply w-[18px] h-[18px] border-[1px] border-solid border-black-30 rounded-full;
}
.slider-price .slick-dots .slick-active button {
  @apply bg-accent-100 border-accent-100;
}
.slider-price .slick-dots button:hover {
  @apply bg-accent-100;
}
.sss__control {
  @apply bg-accent-100;
}

/* skeleton */

@keyframes loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-line,
.skeleton-circle,
.skeleton-square {
  background-color: #ebebeb;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.skeleton-line {
  margin-bottom: 10px;
  border-radius: 0.25rem;
  height: 1em;
}

.skeleton-line:last-child {
  margin-bottom: 0;
}

.skeleton-circle {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.skeleton-square {
  border-radius: 0.25rem;
  height: 2em;
  width: 2em;
}

.skeleton-line:after,
.skeleton-circle:after,
.skeleton-square:after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #ebebeb, #f5f5f5, #ebebeb);
  transform: translateX(-100%);
  animation-name: loading-skeleton;
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  background-color: #fff;
  border: 2px solid #ebebeb;
}
