.slider-price .slider-item {
  @apply !flex flex-col justify-between items-center pt-[30px] px-[24px] pb-[40px] border-[1px] border-black-30 rounded-[5px] h-[inherit];
}
.slider-price .slick-slide {
  height: unset;
}
.slider-price .slick-slide > div {
  @apply h-full mx-[6%];
}
.slider-price .slick-track {
  display: flex;
}
.slider-price .slick-list {
  @apply mb-12 mx-[-7%] t:mx-[-3%] d:mx-[-2%];
}
.slider-price .slick-dots {
  position: unset;
}
.slider-price .slick-dots button::before {
  content: none;
}
.slider-price .slick-dots button {
  @apply w-[18px] h-[18px] border-[1px] border-solid border-black-30 rounded-full;
}
.slider-price .slick-dots .slick-active button {
  @apply bg-accent-100 border-accent-100;
}
.slider-price .slick-dots button:hover {
  @apply bg-accent-100;
}
